{% include 'header.html' %}

{% include 'nav.html' %}

{% comment %}
FIXME: we can load the  dataframe once in a variable and these will each load faster...
{% endcomment %}


<h2>Lines Changed</h2>

<div data-loader="ajax" data-src="/graph/lines_changed?repos={{ repos_str}}&author={{ author.email }}&start={{ start_str}}&end={{ end_str}}&intf={{ intv }}"><i class="fas fa-hourglass-half"></i></div>

<h2>Commits</h2>

<div data-loader="ajax" data-src="/graph/commits?repos={{ repos_str}}&author={{ author.email }}&start={{ start_str}}&end={{ end_str}}&intf={{ intv }}"><i class="fas fa-hourglass-half"></i></div>

<h2>Files Changed</h2>

<div data-loader="ajax" data-src="/graph/files_changed?repos={{ repos_str}}&author={{ author.email }}&start={{ start_str}}&end={{ end_str}}&intf={{ intv }}"><i class="fas fa-hourglass-half"></i></div>

<h2>Creates</h2>

<div data-loader="ajax" data-src="/graph/creates?repos={{ repos_str}}&author={{ author.email }}&start={{ start_str}}&end={{ end_str}}&intf={{ intv }}"><i class="fas fa-hourglass-half"></i></div>

<h2>Edits</h2>

<div data-loader="ajax" data-src="/graph/edits?repos={{ repos_str}}&author={{ author.email }}&start={{ start_str}}&end={{ end_str}}&intf={{ intv }}"><i class="fas fa-hourglass-half"></i></div>

{% if not author %}
<h2>Participation</h2>

<div data-loader="ajax" data-src="/graph/participation?repos={{ repos_str}}&author={{ author.email }}&start={{ start_str}}&end={{ end_str}}&intf={{ intv }}"><i class="fas fa-hourglass-half"></i></div>
{% endif %}

<h2>Average Commit Size</h2>

<div data-loader="ajax" data-src="/graph/commit_size?repos={{ repos_str }}&author={{ author.email }}&start={{ start_str}}&end={{ end_str}}&intf={{ intv }}"><i class="fas fa-hourglass-half"></i></div>

{% include 'footer.html' %}